nav{
	margin-top: -5px;
	background-color: grey;
	position: sticky;
	 overflow: hidden;
}
a{
	padding: 10px;
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;

}
a.hover{
	 border-bottom: 3px solid red;
}